@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* Setup defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply font family */
body {
  font-family: "Montserrat", sans-serif;
}

/* This allows for smooth scrolling between sections */
#container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

/* Setup the home section */
#container #home {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09090f;
}

/* Position and control the background video */
#home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Position and style the navigation bar */
#home nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5% 8%;
  width: 100%;
  height: auto;
  background-color: #09090f;
}

/* Style the list items */
#home nav ul li {
  list-style: none;
  display: inline;
}

/* Style the links */
#home nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #8ce2d0;
  letter-spacing: 0.2em;
  padding-right: 15px;
}

/* Animate the links */
#home nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: bisque;
  color: bisque;
  transition: width 0.3s;
}

/* Activate animation on hover */
#home nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Change link text colour on hover */
#home nav ul li a:hover {
  color: bisque;
}

/* Position and style the main heading */
#home header {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* Style the heading text */
#home header h1 {
  color: #8ce2d0;
  font-size: 4em;
  text-shadow: 2px 1px 1px bisque;
  text-transform: uppercase;
}

/* Position and style all sections */
#specs,
#testimonials,
#contact {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: linear-gradient(
    to right top,
    #a7e6d7,
    #a2e5d6,
    #9de5d4,
    #98e4d3,
    #93e3d2,
    #74dad3,
    #4ed1d6,
    #00c7db,
    #00afe9,
    #0092f4,
    #006eef,
    #5b3bd1
  );
}

/* Position items within specification section */
#specs {
  justify-content: space-between;
  align-items: center;
}

/* Position the  paragraphs section */
#specs article {
  margin: 5% 2%;
  width: 40%;
  height: auto;
}

/* Style the paragraphs */
#specs article p {
  color: #09090f;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: 2%;
}

/* Style the span on the paragraph */
#specs article p span {
  font-size: 1.3em;
  font-weight: bold;
  font-style: oblique;
}

/* Position all the sections within the specification section */
#specs aside {
  margin: 5% 2%;
  width: 48%;
  height: auto;
}

/* Style the table columns */
#specs aside td {
  padding: 5px;
}

/* Highlight the first column */
#specs aside td:first-of-type {
  font-size: 0.9em;
  font-weight: bold;
}

/* Style the last column */
#specs aside td:last-of-type {
  font-size: 0.8em;
}

/* Testimonials secton item positioning */
#testimonials {
  justify-content: flex-start;
  align-items: center;
}

/* Testimonial sections positioning  */
#testimonials aside {
  display: flex;
  flex-direction: column;
  margin: 6% 2%;
  width: 100%;
  height: auto;
}

/* Testimonial paragraphs styling */
#testimonials aside p {
  width: 100%;
  height: auto;
  color: #09090f;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: 2%;
}

/* Align the images and text on testimonials */
#testimonials aside:first-of-type p:first-of-type {
  margin-top: 30%;
}

#testimonials aside:nth-of-type(2) p:first-of-type {
  margin-top: 25%;
}

/* Testimonials images styling and positioning */
#testimonials aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 3px #1d1d1f;
}

/* Contact secton positioning */
#contact {
  justify-content: center;
  align-items: center;
}

/* Contact section form positioning */
#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contact section labels styling */
#contact label {
  font-size: 0.8em;
  color: #09090f;
  font-weight: bold;
}

/* Position first label */
#contact form label:first-of-type {
  margin: 27% 0 0 15%;
}

/* Position second label */
#contact form label:nth-of-type(2) {
  margin: 5% 0 0 15%;
}

/* Position last label */
#contact form label:last-of-type {
  margin: 5% 0 0 25%;
}

/* Style and position contact form input fields */
#contact form input {
  margin: 1% 10% 0 55%;
  width: 250px;
  height: 40px;
  box-shadow: 1px 1px 2px gray;
  padding: 2%;
  font-size: 1em;
  color: #09090f;
}

/* Style focus on inputs */
#contact form input:focus {
  background-color: lightgray;
}

/* Style and position textarea */
#contact form textarea {
  margin: 1% 10% 0 55%;
  width: 250px;
  height: 170px;
  box-shadow: 1px 1px 2px gray;
  padding: 2%;
  font-size: 1.3em;
  color: #09090f;
  resize: none;
}

/* Style focus on textarea */
#contact form textarea:focus {
  background-color: lightgrey;
}

/* Style and position button */
#contact form button {
  margin: 8% 0 0 105%;
  padding: 2%;
  width: 100px;
  height: auto;
  color: #09090f;
  font-size: 0.8em;
  box-shadow: 1px 1px 2px gray;
}

/* Position contact section video */
#contact figure {
  margin: 5% 0 0 5%;
}

/* Position and style the contacts video */
#contact figure video {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 3px #1d1d1f;
}

/* Style the video caption */
#contact figure figcaption {
  font-weight: bold;
  color: #09090f;
}
